CampaignMasterWeb/Web References/GcmlWsReference/CampaignMasterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenericCampaignMasterLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenericCampaignMasterLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/GcmlWebService/CampaignMasterService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8081/GcmlWebService/CampaignMasterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PlayerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerInfo" nillable="true" type="tns:PlayerInfo" />
  <xs:complexType name="CampaignInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="campaignId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campaignName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaignInfo" nillable="true" type="tns:CampaignInfo" />
  <xs:complexType name="clsSektorKoordinaten">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Position" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
      <xs:element minOccurs="0" name="Z" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSektorKoordinaten" nillable="true" type="tns:clsSektorKoordinaten" />
  <xs:complexType name="SektorInfo">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="containedUnitIds" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="sektorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sektorKoordinaten" nillable="true" type="tns:clsSektorKoordinaten" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SektorInfo" nillable="true" type="tns:SektorInfo" />
  <xs:complexType name="UnitInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="playerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sektorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unitType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitInfo" nillable="true" type="tns:UnitInfo" />
  <xs:complexType name="ArrayOfSektorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SektorInfo" nillable="true" type="tns:SektorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSektorInfo" nillable="true" type="tns:ArrayOfSektorInfo" />
  <xs:complexType name="ArrayOfCommandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandInfo" type="tns:CommandInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandInfo" nillable="true" type="tns:ArrayOfCommandInfo" />
  <xs:complexType name="CommandInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="actingUnitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commandId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commandType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="strInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandInfo" nillable="true" type="tns:CommandInfo" />
</xs:schema>